* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono NFM;
    font-size: 18px;
}

window#waybar {
    background-color: transparent;
    color: #d4be98;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    color: #d4be98;
}

#workspaces button.hover {
    background-color: #db4e55;
}

#workspaces button.focused {
    color: #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces {
    background-color: rgba(40, 40, 40, 0.85);
    border-radius: 10px;
    margin-left: 10px;
}

#clock {
    background-color: rgba(40, 40, 40, 0.85);
    border-radius: 10px;
    padding: 0 8px;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 80px;
    min-width: 10px;
    border-radius: 5px;
    background-color: black;
}

#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: green;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging,
#battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#tray,
#pulseaudio,
#network {
    background-color: transparent;
    color: #d4be98;
}

#tray>.passive {
    -gtk-icon-effect: dim;
    color: #d4be98;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#network {
    font-size: 30px;
}

.modules-right {
    background-color: rgba(40, 40, 40, 0.85);
    border-radius: 10px;
    color: #d4be98;
    padding: 0 8px;
}
